*,
*::before,
*::after {
    box-sizing: border-box;
}



:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #00abdf;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.0;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
    font-weight: var(--fw-reg);
}


.section__subtitle--intro {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    margin: 0;
    font-size: var(--fs-h3);
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav {
    position: right;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}
.logo {
    max-width: 80px;
}
.nav__list {
    color: var(--clr-accent)
}

/*  Intro section  */

.intro {
    position: relative;
}
.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;

    }    
    
    .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    display: inline-block;
    }
}

/* about me section */
.about-me {
    
    margin: 0 auto; 
    background-color: var(--clr-dark);
    background-image: url("images/codingbackground1.jpg");
    background-size: cover;
    background-blend-mode: multiply; 
    /* background blend mode: multiply will darken the image */
    text-align: center;
    color: var(--clr-light);
}
/* .about-me-body p { margin-top: 5px; margin-bottom: 5px; margin-right: 500px; margin-left: 500px; }  */

.about-h2 {
    color: var(--clr-accent);
    position: relative;
}

/* my projects section */
.my-projects {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__item {
   
    width: 300px;
    box-shadow: var(--bs);
}

/* contacts section */

.my-contacts {

    background-color: var(--clr-dark);
    background-image: url("images/codingbackground1.jpg");
    background-size: cover;
    background-blend-mode: multiply; 
    /* background blend mode: multiply will darken the image */
    text-align: center;
    color: var(--clr-accent);
    font-size: var(--fs-h3);
}
.my-contacts a {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

   
.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    
}
.social-list__item {
    margin: 0 1em;
   
}